#storybook-root {
  width: 80%;
  display: flex
;
  align-items: center;
  height: calc(100vh - 2rem);
  margin: auto;

}

#storybook-root[hidden],
#storybook-docs[hidden] {
  display: none !important;
}
