#storybook-root:not([hidden='true']) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#storybook-root:not([hidden='true']) > * {
  flex-shrink: 0;
}

#storybook-root[hidden],
#storybook-docs[hidden] {
  display: none !important;
}
